
article, aside, body, div, figcaption, figure, form, h1, h2, h3, h4, html, 
img, label, li, nav, p, span, strong, ul {
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: 0 0;
}

body{
	line-height: 1.5em;	
	font-family: "Proxima Nova Regular","Segoe UI","Roboto","Droid Sans","Helvetica Neue",Arial,sans-serif;	
}

h1{
	font-size:1.8em;

}

p{
	color: #696969;
	margin: 2.5em 2em;
}

h5{
	font-size:1em;
}


article{
	text-align:center;
}

img {
    max-width: 100%; 
    height: auto; 
}

.imgs{
	margin-top: 2em;
}

@media (max-width: 22em) {/*minor breakpoint*/
   	body {
      font-size: .8em;
      padding: 0 1.5em;
    }

    h1{
	font-size:1.6em;
	}

}

@media only screen and (min-width: 34em){
	body{
		line-height:1.4em;
	}

	.imgs{
	display:inline-block;
	vertical-align: top;	
	width:49.5%;
	}

	p{
	margin: 2.5em 0.8em;
	}

	article{
		padding: 2em 1em;
	}

}


@media only screen and (min-width: 51em){
	h1{
	font-size:2.4em;
	}

	article p{
		font-size: 1.125em;
	}

	article{
		padding: 2em 4em;
	}

}