body{
	font-size:100%;
	line-height: 1.5em;	
	
}


h1{
	font-size:2em;
}

p{
	color: #696969;
}

h5{
	font-size:1em;
}

section{	
	margin: 0 1.2em;
}

article{
	text-align:center;
}

img {
    max-width: 100%; 
    height: auto; 
}

@media (max-width: 22em) {
   body {
      font-size: .9em;
      padding: 0 1.5em;
    }
}

@media only screen and (min-width: 34em){
	body{
		line-height:1.4em;
	}

	h1{
	font-size:1.8em;
	}

	section{
	margin: 6em 2em;
	}


	.imgs{
	display:inline-block;
	vertical-align: top;	
	width:40%;
	margin: 0 1.5em;

	}



}
