body
{
	font-size:13px;
	line-height: 1.2em;	
}


h1{
	font-size:2.285em;
}

h5{
	font-size:1em;
}

article{
	margin-top: 2em;
    width: 80%; 
    margin: 0 auto;
}

header img {
    max-width: 100%; 
    height: auto; 
}

.centered-text
{	

	text-align: center;
}

@media only screen and (min-width: 30em)
{
	body{
		font-size:16px;
		line-height:1.5em;

	}

	h1{
	font-size:2em;
	}

	h5{
	font-size:0.7em;
	}

	p{
	font-size:1em;
	}


	article{
	display:inline-block;	
	width:80%;
	text-align: center;
	
}

}
